* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
}

.card {
  width: 330px;
  background: #edf2fc;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  padding: 25px 15px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.profile {
  margin: 20px auto;
}

h1 {
  color: #333;
  font-size: 26px;
  font-weight: 400;
}

h5 {
  color: #e63946;

  font-weight: 700;
}

p {
  margin: 15px auto;
  color: hsl(0, 4%, 40%);
  font-size: 14px;
}

.btn-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

.btn-list a {
  display: inline-block;
  width: 100%;
  max-width: 200px;
  text-decoration: none;
}

.btn-list button {
  background-color: #555555;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-list button:hover {
  background-color: #e63946;
  color: #ffffff;
}
